<mat-card class="centered-card">
    <mat-card-header>
        <div class="card-content">
            <mat-card-title class="card-header">Welcome to SHI Labs Gen AI Portal</mat-card-title>
            <mat-card-subtitle class="card-subtitle">Login to the portal</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="enter email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password">
              </mat-form-field>
              <mat-label><a href="">Forgot Password?</a></mat-label>
          </form>
    </mat-card-content>
    <mat-card-footer>
        <button class="example-full-width SignIn" (click)="logIn()" mat-flat-button>LogIn</button>
    </mat-card-footer>
</mat-card>
